@using SampleLogMaker.ViewModels
@model UndeletedHistoryVM

<div class="changed">
    @Model.UserName un-deleted

    <span class="historySpan changedHistoySpan tooltipper" title=" <div>
        @foreach (var item in Model.Details)
        {
            <div>
                @item.PropertyName : @item.OldValue -> @item.NewValue
            </div>
        }
    </div>">
        @Model.TypeFullName # @Model.RecordId
    </span>

    on @(Model.Date.ToString(Constants.DateFormat)).
</div>
