@using SampleLogMaker.ViewModels
@model AddedHistoryVM

<div class="added">
    @Model.UserName added 
    
    <span class="historySpan addedHistoySpan tooltipper" title="<div>
        @foreach (var item in Model.Details) {
            <div>
                @item.PropertyName : @item.NewValue
            </div>
        }
    </div>" 
    logid="@Model.LogId">

         @Model.TypeFullName # @Model.RecordId

    </span>
    
    on @(Model.Date.ToString(Constants.DateFormat)).
</div>